body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
  
#canvasContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
}
  
#canvas {
    width: 100%;
    height: 100%;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen h1 {
    color: #fff; /* White text color */
    font-size: 5em;
    padding-bottom: 20px;
}

.loading-content {
    text-align: center;
    color: #fff; /* White text color */
}

.loading-bar {
    width: 80%; /* Width of the loading bar */
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2); /* Light grey background */
    border-radius: 5px;
    overflow: hidden; /* Hide overflowing gradient */
}

.loading-bar-fill {
    height: 100%;
    background: linear-gradient(to right, #44d6e0, #99f345); /* Gradient colors */
    width: 0%; /* Start with 0% width */
}